beautifulsoup4
blingfire
bottle
-e git+https://github.com/CederGroupHub/text2chem.git#egg=text2chem
spacy==3.1.0
# pymatgen==2021.3.3
# pymatgen==2022.5.26
pymatgen
pytest
lxml
tqdm
pyyaml
-e git+https://github.com/neuged/webanno_tsv#egg=webanno_tsv
delft
supermat