<!DOCTYPE XHTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Supercon 2 interface</title>
    <link rel="icon" type="image/x-icon" href="/static/resources/img/favicon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="static/resources/img/favicon.ico"/>

    <!-- JQuery -->
    <script type="text/javascript" src="static/resources/libs/jquery/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="static/resources/libs/jquery/jquery.form.3.51.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="static/resources/libs/bootstrap-4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/resources/libs/bootstrap-4.5.0/css/bootstrap.min.css" media="screen"/>
    <script type="text/javascript" src="static/resources/libs/bootstrap-4.5.0/js/prettify.js"></script>

    <link rel="stylesheet" href="static/resources/libs/bootstrap-4.5.0/css/prettify.css"/>
    <link rel="stylesheet" href="static/resources/libs/font-awesome/font-awesome.min.css">

    <!-- PDF.js stuff -->
    <link type="text/css" href="static/resources/libs/pdf.js/web/text_layer_builder.css" rel="stylesheet"/>
    <link type="text/css" href="static/resources/libs/pdf.js/web/annotation_layer_builder.css" rel="stylesheet"/>
    <script type="text/javascript" src="static/resources/libs/pdf.js/web/text_layer_builder.js"></script>
    <script type="text/javascript" src="static/resources/libs/pdf.js/web/pdf_link_service.js"></script>
    <script type="text/javascript" src="static/resources/libs/pdf.js/web/annotation_layer_builder.js"></script>
    <script type="text/javascript" src="static/resources/libs/pdf.js/build_/pdf.js"></script>

    <!-- Custom stylesheets -->
    <link rel="stylesheet" href="static/resources/css/style.css"/>
    <link rel="stylesheet" href="static/resources/css/style-ner.css"/>
    <link rel="stylesheet" href="static/resources/css/style-quantities.css"/>
    <link rel="stylesheet" href="static/resources/css/style-superconductors.css"/>

</head>

<body>
<div class="container" style="width:85%;">

    <div class="content">

        <div class="page-header">
            <h1><span style="color:#333;">Supercon<sup>2</sup></span></h1>
        </div>

        <div class="modal-body row">
            <div class="col-md-4">
                <ul>
                    <li><a href="{{ url_for('supercon.get_manual_database') }}">Manually extracted database</a></li>
                    <li><a href="{{ url_for('supercon.get_automatic_database') }}">Automatically extracted database</a></li>
                    <li><a href="{{ url_for('supercon.get_stats') }}">(Automatic) Database statistics</a></li>
                    <li><a href="http://falcon.nims.go.jp/superconductors" target="_blank">PDF document live process</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <strong>Work in progress.</strong>

                <p>
                    This database is an experimental application to extract automatically superconductors material and
                    their
                    properties from superconductors-related scientific literature.
                </p>
                <p>The interface can be used to view the extracted properties (no modification for the moment).</p>
                <p>
                    <strong>References</strong>
                <ul>
                    <li>Luca Foppiano, Thaer Dieb, Akira Suzuki, Masashi Ishii. Proposal for Automatic Extraction
                        Framework of Superconductors Related Information from Scientific Literature.
                        電子情報通信学会サービスコンピューティング研究会　2019年度第一回研究会、 第４３回MaDIS研究交流会合同研究会, May 2019, Tsukuba, Japan.
                        ⟨hal-02870896⟩
                    </li>
                    <li>Luca Foppiano, Sae Dieb, Akira Suzuki, Pedro Baptista de Castro, Suguru Iwasaki, et al..
                        SuperMat: Construction of a linked annotated dataset from superconductors-related publications.
                        2021. ⟨hal-03101177v2⟩
                    </li>
                </ul>

                </p>
            </div>
            <div class="footer row border-top" style="width: 100%">
                <div class="col-xl-12">
                    <strong>Contacts</strong>: FOPPIANO.Luca AT nims.go.jp - <a
                        href="http://falcon.nims.go.jp">homepage@NIMS</a> - <a href="http://github.com/lfoppiano">Github</a>

                </div>
            </div>
        </div>
    </div>

    <footer>
        <p><span style="color:#848484;">Contributors - 2021</span></p>
    </footer>
</div>

</body>
</html>
