beautifulsoup4==4.9.3
blingfire==0.1.5
blis==0.4.1
bottle==0.12.19
bs4==0.0.1
catalogue==1.0.0
certifi==2020.12.5
chardet==4.0.0
cycler==0.10.0
cymem==2.0.5
decorator==4.4.2
future==0.18.2
idna==2.10
importlib-metadata==4.0.1
kiwisolver==1.3.1
-e git+https://github.com/lfoppiano/grobid-superconductors-tools.git@9896b16a92192dea13f9e15d585869c8df0fae9f#egg=materialParserWrapper&subdirectory=materialParser
Materials-Parser @ git+https://github.com/lfoppiano/MaterialParser.git@88e86d6eae91caf763bbdfb21d4bda62fa6e938f
matplotlib==3.4.1
monty==2021.3.3
mpmath==1.2.1
murmurhash==1.0.5
networkx==2.5.1
numpy==1.20.2
palettable==3.3.0
pandas==1.2.4
Pillow==8.2.0
plac==1.1.3
plotly==4.14.3
preshed==3.0.5
PubChemPy==1.0.4
pymatgen==2021.3.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
regex==2021.4.4
requests==2.25.1
retrying==1.3.3
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
scipy==1.6.3
six==1.16.0
soupsieve==2.2.1
spacy==3.1.0
spglib==1.16.1
srsly==1.0.5
sympy==1.8
tabulate==0.8.9
thinc==7.4.1
tqdm==4.60.0
typing-extensions==3.10.0.0
uncertainties==3.1.5
urllib3==1.26.5
wasabi==0.8.2
zipp==3.4.1
