beautifulsoup4
blingfire
bottle
-e git+https://github.com/lfoppiano/grobid-superconductors-tools.git@de099a1e4bbd692c29c25cde0006ade20d1878b9#egg=grobid_superconductors_python_commons&subdirectory=commons
-e git+https://github.com/lfoppiano/grobid-superconductors-tools.git@de099a1e4bbd692c29c25cde0006ade20d1878b9#egg=materialParserWrapper&subdirectory=materialParser
-e git+https://github.com/lfoppiano/MaterialParser.git@88e86d6eae91caf763bbdfb21d4bda62fa6e938f#egg=Materials-Parser
-e git+https://github.com/CederGroupHub/text2chem.git#egg=text2chem
spacy==3.1.0
pymatgen==2021.3.3
plac